.show-machines-by-container {
    margin-top: 2rem;
    .category-col-3 {
        padding: 0rem;
        i {
            padding-top: 0.4rem;
        }
        .machines-category {
            border: 1px solid #dddddd;
            padding: 1rem;
            border-bottom: 0;
        }
        .machines-brand {
            padding: 1rem;
            border: 1px solid #dddddd;
        }
        .bold {
            color: $mainColor;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
        }
        .light {
            color: gray;
            padding-left: 1rem;
        }
        a {
            transition: all 150ms;
            &:hover .light {
                background-color: #dddddd;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                color: $mainColor;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .col-9 {
        .show-machine {
            border: 1px solid #dddddd;
            transition: all 150ms;
            border-radius: 3px;
            padding: 0.7rem 0;
            position: relative;
            margin-bottom: 1rem;
            display: flex;
            &:hover {
                background-color: whitesmoke;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
        .col-3 {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .col-6 {
            .machine-name {
                color: $mainColor;
                font-weight: bold;
                margin-bottom: 0.2rem;
            }
            .machine-desc {
                margin-top: 0.5rem;
                line-height: 0.5;
                color: #5c5a75;
            }
        }
        .button-col-3 {
            position: absolute;
            bottom: 0.5rem;
            right: -3.5rem;
            button {
                transition: all 150ms;
                background-color: $mainColor;
                &:hover {
                    background-color: $mainColorHover;
                }
            }
        }
    }
}

.modal {
    button {
        background-color: $mainColor !important;
        &:hover {
            background-color: $mainColorHover !important;
        }
    }
}
